<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form
          class="d-flex"
          role="search"
          method="POST"
          action="/listings/search"
        >
          <input
            name="search"
            class="form-control me-2"
            type="search"
            placeholder="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
        <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %> <% if (currUser) { %>
        <a class="nav-link btn-popup"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<div class="alert-danger">
  <p class="mt-3">Are you sure you want to delete?</p>
  <br />
  <div class="alert-buttons mb-3">
    <form method="GET" action="/logout">
      <button class="btn btn-outline-success btn-alert">Yes</button>
    </form>
    <form method="GET" action="/listings">
      <button class="btn btn-outline-danger btn-alert">No</button>
    </form>
  </div>
</div>
<script src="./js/popup.js"></script>
